/* Estilo básico para el nav */
.navbar {
    background-color: #007bff; /* Color de fondo azul */
    border-radius: 0px; /* Redondear bordes si es necesario */
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white; /* Color blanco para los textos */
}

.navbar .nav-link:hover {
    background-color: #0056b3; /* Cambiar color al pasar el ratón */
    color: white;
}

/* Color de fondo de la página, si es necesario */
body {
    background-color: #f8f9fa; /* Fondo gris claro */
}

/* Otros estilos globales */
.container {
    margin-top: 20px; /* Ajuste para que todo esté alineado */
}

/* Global styles */
body {
    background-color: #2e2e2e; /* Soft dark gray background */
    color: #e0e0e0; /* Light text color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
  }
  
  h1, h2 {
    color: #41bcf5; /* Light blue for headings */
  }
  
  .intro-text {
    color: #303030; /* Lighter gray for the text */
  }
  
  form {
    margin-top: 20px;
    padding: 20px;
    background-color: #424242; /* Darker gray for the form background */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #555;
    color: black;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1976d2;
  }
  
  .result {
    padding: 15px;
    margin-top: 20px;
    background-color: #444; /* Slightly lighter gray for results section */
    border-left: 4px solid #2196f3;
    border-radius: 6px;
  }
  
  .error {
    color: #f44336; /* Red color for error messages */
    margin-top: 20px;
  }
  